---
- name: Install containerd
  become: true
  ansible.builtin.apt:
    update_cache: true
    name:
      - containerd
    state: present

- name: Create containerd config directory
  become: true
  ansible.builtin.file:
    path: /etc/containerd
    state: directory
    mode: "0755"

- name: Generate default containerd config if missing
  become: true
  ansible.builtin.shell: |
    if [ ! -f /etc/containerd/config.toml ]; then
      containerd config default > /etc/containerd/config.toml
    fi
  args:
    executable: /bin/bash
  changed_when: false

- name: Set SystemdCgroup = true
  become: true
  ansible.builtin.replace:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup\s*=\s*false'
    replace: 'SystemdCgroup = true'

- name: Enable and restart containerd
  become: true
  ansible.builtin.systemd:
    name: containerd
    state: restarted
    enabled: true
